* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    background-image: url(img/utama.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    padding: 15px;
}

/* utama */
.container {
    padding: 25px;
}
h2 {
    color: white;
    font-family: "Sacramento", cursive;
    font-size: 1.5rem;
}
img {
    border: 10px solid #fff;
    border-radius: 50% ;
    margin-bottom: 30px;
}
a {
    background-color: #fff;
    color: #000;  
    padding: 6px 8px;
    text-decoration: none;
    border-radius: 7px;
    font-size: 1.1rem;
}
a:hover {
    background: red;
    color: white;      
}

@media (max-width:576px){
    img {
        border: 5px solid white;
    }
}
